.wrapper{
    background-color: rgb(255, 255, 255);
    margin: 0 0 60px 10px;
}

.preview{
    display: block;
    width: 480px;
    border-radius: 10px;
    margin: 0;
}

.articleHeader{
    display:block;
    font-size: 28px;
    color: rgb(39, 39, 39);
    margin: 0 0 0 15px;
    max-width: 465px; 
}

.description{
    display:block;
    font-style: italic;
    font-size: 18px;
    color: rgb(97, 96, 96);
    margin: 0 0 0 20px;
    max-width: 460px; 
}

.date{
    display:block;
    font-style: italic;
    font-size: 15px;
    color: rgb(39, 39, 39);
    margin: 0 0 0 20px; 
}

